---
import Layout from "../layouts/Layout.astro";
import MainSection from "../components/MainSection.astro";
import AboutSection from "../components/AboutSection.astro";
import TechSection from "../components/TechSection.astro";
import ProjectSection from "../components/ProjectSection.astro";
import FooterSection from "../components/FooterSection.astro";
---

<Layout title="Porfolio using Astro">
	<main>
		<MainSection />
		<AboutSection />
		<TechSection />
		<ProjectSection />
		<FooterSection />
	</main>

	<style></style>
</Layout>
