---
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer clase="flex">
    <div>
        <h1 class="text-3xl font-bold text-[#2776e9]">Something about me</h1>
        <h2 class="text-xl pt-5 w-4/5">
            My name is Bastian Parra, I currently study and live in Chile, I am
            dedicated to solving problems through the creation of computer
            applications. I am interested in working in the industry and
            continuing to learn new technologies.
        </h2>
    </div>
    <div class="w-full">
        <img
            src="profile-img.jpg"
            alt="imagen de perfil"
            class="h-[250px] rounded-lg"
        />
    </div>
</SectionContainer>
