---
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer clase="flex">
  <div id="sobre-mi">
    <h1 class="text-3xl font-bold text-[#2776e9]">Sobre mi</h1>
    <h2 class="text-xl pt-5 w-4/5 text-justify">
      Me llamo Bastian Parra, actualmente estudio y vivo en Chile, me dedico a
      resolver problemas a través de la creación de aplicaciones informáticas.
      Estoy interesado en trabajar en la industria y seguir aprendiendo nuevas
      tecnologías.
    </h2>
  </div>
  <div class="w-full h-full">
    <img
      src="profile-img.jpeg"
      alt="imagen de perfil"
      class="h-[250px] w-[250px] rounded-full"
    />
  </div>
</SectionContainer>
