
---
import SectionContainer from "./SectionContainer.astro"

SectionContainer
---

<SectionContainer clase="flex justify-between mb-10">
<a href="">Bastian Parra - 2024</a>
   <div>
      Made with Astro.
   </div>
</SectionContainer>