---
import ButtonHeader from "./ButtonHeader.astro"
---

<header class="flex justify-between items-center py-3 px-3 items w-[850px] m-auto">
    <a href="#" class="transform transition hover:translate-y-1"><img src="profile-img.jpg" alt="logo" class=" h-[50px] w-[50px] rounded-full"></a>
    <nav>
        <ButtonHeader link="#">Inicio</ButtonHeader>
        <ButtonHeader link="#">Acerca de mi</ButtonHeader>
        <ButtonHeader link="#">Habilidades</ButtonHeader>
        <ButtonHeader link="#">Contacto</ButtonHeader>
    </nav>
</header>
