---
import Badge from "./Badge.astro";
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer clase="py-44">
    <h1 class="text-5xl font-bold pb-5" ->Hi, I'm Bastian 👋</h1>
    <h2 class="text-xl pb-5">
        Web Developer. From Quintero, Chile. Especialized in the creation of
        unique applications and give solution to problems that people have.
    </h2>
    <Badge
        ><a href="https://www.linkedin.com/in/bastian-parra-bernal-668156301/"
            >Linkedin</a
        ></Badge
    >
    <Badge><a href="https://github.com/Bastian-Parra">GitHub</a></Badge>
    <Badge><a href="">Correo</a></Badge>
</SectionContainer>
