---
import Projects from "./Projects.astro";
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer clase="">
    <h1 class="text-3xl font-bold text-[#2776e9] text-center">Proyectos</h1>
    <h2 class="text-xl pt-5 text-center pb-10">
        Aplicaciones que hice anteriormente.
    </h2>
    <Projects />
</SectionContainer>
