---
import SkillsCard from "./ProjectCards.astro";
---

<div class="h-auto">
    <SkillsCard title="Proyecto 1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis vero labore et laborum porro aperiam quibusdam dicta
            asperiores aspernatur! Sed accusamus eveniet consequuntur? Tempore
            reprehenderit eaque ipsa nostrum sed repudiandae.
    </SkillsCard>
    <SkillsCard title="Proyecto 2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat,
            natus veniam. A minima ipsum temporibus recusandae nobis ex beatae
            quia pariatur saepe asperiores, accusantium voluptates dolorem
            obcaecati quidem perspiciatis officiis.
    </SkillsCard>
    <SkillsCard title="Proyecto 3">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Praesentium sit deleniti voluptates dolor, adipisci expedita quidem
            possimus ab explicabo, earum velit! Nihil corrupti explicabo in
            debitis ad at sapiente cumque.
    </SkillsCard>
</div>
