---
import SectionContainer from "./SectionContainer.astro";
import Tech from "./Tech.astro";
---

<SectionContainer clase="">
    <h1 class="flex justify-center text-3xl font-bold text-[#2776e9] text-center">Technologies</h1>
    <Tech/>
</SectionContainer>
