---
import IconsTech from "./icons/IconsTech.astro"

---
<div class="m-auto w-3/5 grid grid-cols-6 grid-rows-2 grid-flow-col-dense gap-y-2 gap-x-10 pt-5 pb-5">
    <IconsTech clase="size-20 border-[1px] rounded p-5 transform bg-[#f2f2f2] transition hover:border-[#2776e9] dark:bg-[#303030]"> 
</div>

