---
import Header from "../components/Header.astro";
import "@fontsource/onest/400.css";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class=" scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="dark">
		<Header />
		<slot />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}
	body {
		font-family: "Onest", system-ui;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 60%;
		margin: 0 auto;
	}
</style>
